html {
  margin: 0;
}

body {
  font: 16px/1.4em "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: 200;
}
h4, h5, h6 {
  font-weight: 500;
}
p {
  font-weight: 200;
}

$link_color: #206682;
a {
  color: $link_color;
  &:hover {
    color: lighten($link_color, 20%);
  }
  &:visited {
    color: darken($link_color, 10%);
  }
}

$sidebar_width: 240px;
$sidebar_height: 70px;

.container {
  padding: 20px;
}

.main-content {
  padding: $sidebar_height + 30px 0 20px 0;
}

$sidebar_border_width: 1px;
$sidebar_border_stroke: solid;
$sidebar_border_color: #DABF97;
#sidebar-wrapper {
  width: 100%;
  height: $sidebar_height;
  border-bottom: $sidebar_border_width $sidebar_border_stroke $sidebar_border_color;
  background-color: blanchedalmond;
  position: fixed;
  footer {
    visibility: hidden;  /* display only at larger viewports */
    background-image: linear-gradient(-45deg, #DCDCDC 25%, transparent 25%, transparent 50%, #999 50%, #999 75%, transparent 75%, transparent);
    background-size: 8px 8px;
	  position: fixed;
    width: $sidebar_width;
    height: 75px;
    text-align: right;
    bottom: 20px;
    left: 0;
    h2 {
      font-weight: 200;
      background-color: #fff;
      width: 200px;
      margin: 20px 0 20px 29px;
      padding: 0.2em;
    }
  }
}
#sidebar {
  padding: 20px;
	h2.name {
    float: left;
    margin: 0;
    font-weight: 200;
		a {
		  color: inherit;
		  text-decoration: inherit;
			&:hover {
				color: lighten(black, 28%);
			}
		}
	}
}

.note, .info, .warning {
	padding: 10px;
}
.note, .info {
	border: 2px solid #F5D0A9;
	background-color: #CEF6D8;
}
.warning {
	border: 2px solid #F58779;
	background-color: #BF4212;
	color: darken(white, 5%);
	a, a:visited {
		color: darken(white, 30%);
		&:hover {
			color: darken(white, 45%);
		}
	}
}

span.mark {
  float: right;
}

span.github-mark {
	background: url('/images/GitHub-Mark-120px-plus.png');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 32px;
	height: 32px;
}

hr.flared {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin-bottom: -15px;
  &:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
}


footer {
    background-color: #37465F;
    color: #fff;
    height: 150px;
    width: 100vw;
    padding: 30px 0;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
}

/*
 * blog stuff
 */
.articles {
	article {
		h1.title {
			font-size: 22px;
			a {
				text-decoration: none;
			}
			time {
				float: right;
				font-size: 18px;
				color: #3F424F;
			}
		}
	}
}

article {
	.title {
        margin-bottom: 10px;
		padding-bottom: 0;
	}
	.date {
        font-weight: 200;
        font-size: 14px;
        color: #455069;
		margin-top: 0;
		padding-top: 0;
	}
	ul.tags {
    font-size: 15px;
		list-style-type: none;
    padding: 0 10px 0 0;
		li {
      display: inline-block;
      margin: 0 5px 0 0;
		}
	}
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: -10px;
  }
  img {
    width: 100%;
  }
  a img {
    border: 1px solid white;
    &:hover {
      border: 1px solid $link_color;
    }
  }
}




/*
 * Let's make this party responsive!
 */

@media (min-width: 600px) {
  .content {
    width: 560px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .content {
    width: 700px;
  }
}

@media (min-width: 1100px) {
  .content {
    width: 800px;
  }
}
