html {
  margin: 0;
}

body {
  font: 18px/1.5em "Helvetica Neue", Helvetica, sans-serif;
}

h1, h2, h2, h4, h5, h6, p {
  font-weight: 200;
}

.container {
}

.content {
  width: 600px;
  position: absolute;
  top: 50px;
  left: 290px;
}

$sidebar_width: 240px;
#sidebar-wrapper {
  width: $sidebar_width;
  height: 100vh;
  border-right: 1px solid #DABF97;
  background-color: blanchedalmond;
  position: fixed;
  footer {
    background-image: linear-gradient(-45deg, #DCDCDC 25%, transparent 25%, transparent 50%, #999 50%, #999 75%, transparent 75%, transparent);
    background-size: 8px 8px;
	position: fixed;
    width: $sidebar_width;
    height: 75px;
    text-align: right;
    bottom: 20px;
    left: 0;
    h2 {
      font-weight: 200;
      background-color: #fff;
      width: 200px;
      margin: 20px 0 20px 29px;
      padding: 0.2em;
    }
  }
}
#sidebar {
  padding: 20px;
}

span.github-mark {
	background: url('/images/GitHub-Mark-120px-plus.png');
	background-size: 32px 32px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 32px;
	height: 32px;
}

path, .path, .line {
  stroke: #fff;
}

hr.flared {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin-bottom: -15px;
  &:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -27px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }
}


/*
 * blog stuff
 */
.articles {
	article {
		h1.title {
			font-size: 22px;
			a {
				text-decoration: none;
			}
			time {
				float: right;
				font-size: 18px;
				color: #3F424F;
			}
		}
	}
}

#sidebar-wrapper {
	ul.tags {
		width: $sidebar_width - 60px;
		list-style-type: none;
		position: fixed;
		bottom: 100px;
		li {
			text-align: right;
			
		}
	}
}