/* line 1, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
html {
  margin: 0; }

/* line 5, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
body {
  font: 18px/1.5em "Helvetica Neue", Helvetica, sans-serif; }

/* line 9, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
h1, h2, h2 {
  font-weight: 200; }

/* line 12, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
h4, h5, h6 {
  font-weight: 500; }

/* line 15, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
p {
  font-weight: 200; }

/* line 20, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
a {
  color: #206682; }
  /* line 22, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  a:hover {
    color: #3aa4ce; }
  /* line 25, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  a:visited {
    color: #164659; }

/* line 33, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
.container {
  padding: 90px 20px 20px 20px; }

/* line 43, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
#sidebar-wrapper {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #DABF97;
  background-color: blanchedalmond;
  position: fixed; }
  /* line 49, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  #sidebar-wrapper footer {
    visibility: hidden;
    /* display only at larger viewports */
    background-image: linear-gradient(-45deg, #DCDCDC 25%, transparent 25%, transparent 50%, #999 50%, #999 75%, transparent 75%, transparent);
    background-size: 8px 8px;
    position: fixed;
    width: 240px;
    height: 75px;
    text-align: right;
    bottom: 20px;
    left: 0; }
    /* line 59, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
    #sidebar-wrapper footer h2 {
      font-weight: 200;
      background-color: #fff;
      width: 200px;
      margin: 20px 0 20px 29px;
      padding: 0.2em; }

/* line 68, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
#sidebar {
  padding: 20px; }
  /* line 70, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  #sidebar h2.name {
    float: left;
    margin: 0;
    font-weight: 200; }
    /* line 74, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
    #sidebar h2.name a {
      color: inherit;
      text-decoration: inherit; }
      /* line 77, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
      #sidebar h2.name a:hover {
        color: #474747; }

/* line 84, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
.note, .info, .warning {
  padding: 10px; }

/* line 87, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
.note, .info {
  border: 2px solid #F5D0A9;
  background-color: #CEF6D8; }

/* line 91, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
.warning {
  border: 2px solid #F58779;
  background-color: #BF4212;
  color: #f2f2f2; }
  /* line 95, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  .warning a, .warning a:visited {
    color: #b3b3b3; }
    /* line 97, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
    .warning a:hover, .warning a:visited:hover {
      color: #8c8c8c; }

/* line 103, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
span.mark {
  float: right; }

/* line 107, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
span.github-mark {
  background: url("/images/GitHub-Mark-120px-plus.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px; }

/* line 116, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
path, .path, .line {
  stroke: #fff; }

/* line 120, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
hr.flared {
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  margin-bottom: -15px; }
  /* line 127, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  hr.flared:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px; }

/*
 * blog stuff
 */
/* line 145, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
.articles article h1.title {
  font-size: 22px; }
  /* line 147, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  .articles article h1.title a {
    text-decoration: none; }
  /* line 150, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  .articles article h1.title time {
    float: right;
    font-size: 18px;
    color: #3F424F; }

/* line 160, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
article .title {
  margin-bottom: 10px;
  padding-bottom: 0; }
/* line 164, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
article .date {
  margin-top: 0;
  padding-top: 0; }
/* line 168, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
article ul.tags {
  font-size: 15px;
  list-style-type: none;
  padding: 0 10px 0 0; }
  /* line 172, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  article ul.tags li {
    display: inline-block;
    margin: 0 5px 0 0; }
/* line 177, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
article h1, article h2, article h3, article h4, article h5, article h6 {
  margin-bottom: -10px; }
/* line 180, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
article img {
  width: 100%; }
/* line 183, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
article a img {
  border: 1px solid white; }
  /* line 185, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  article a img:hover {
    border: 1px solid #206682; }

/*
 * Let's make this party responsive!
 */
@media (min-width: 600px) {
  /* line 199, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  .content {
    width: 560px;
    margin: 0 auto; } }
@media (min-width: 900px) {
  /* line 206, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  .container {
    padding-left: 240px; }

  /* line 209, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  #sidebar-wrapper {
    width: 240px;
    height: 100vh;
    border-bottom: none;
    border-right: 1px solid #DABF97; }
    /* line 214, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
    #sidebar-wrapper footer {
      visibility: visible; }

  /* line 219, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  #sidebar h2.name {
    margin: 20px 0; }

  /* line 223, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  span.mark {
    float: none; } }
@media (min-width: 1100px) {
  /* line 229, /Users/liam/code/monahan.io/source/stylesheets/style.scss */
  .content {
    width: 700px; } }
