    <footer>
    <div class="container">
      <div class="content">
        <h3>Liam Monahan</h3>
        <p>Python, Philosophy, open roads.</p>
        <a href="https://github.com/liammonahan"><span class="mark github-mark"></span></a>
      </div>
    </div>
    </footer>