---
Title: About
---

<p>I am a software developer living in Washington DC, and working at the University of Maryland Institute for Advanced Computer Studies.</p>

<p>I have a degree in Computer Science.  I also minored in Philosophy.  Feel free to talk to me about that.</p>
