---
Title: About
---

<p>I am a software developer living in Washington DC, and working at the <a href="http://umiacs.umd.edu/">University of Maryland Institute for Advanced Computer Studies</a>. I enjoy designing robust, quality software there.</p>

<p>I have a degree in <a href="https://cs.umd.edu">Computer Science</a>.  I also minored in Philosophy.</p>
