---
---

<p>I'm a graduate of the Computer Science program at the University of Maryland.  I write here really infrequently.  Embarrasingly infrequently.  But, hey, who doesn't want to have a home on the internet for when a meant-to-be-shared cat video wills its way into existence, begging to be shared?</p>

<p>In the meantime, check out the <a href="/blog">blog</a>.</p>
