---
Title: Now
---

<h3>What am I working on now?</h3>
<p>
I am doing a little bit of consulting building agricultural software to measure the efficiency of green roofs as they retain stormwater.
</p>

<h3>Outside interests</h3>
<p>
I am actively interested in learning how to work with my hands.  I took a few woodworking classes, and have access to some basic equipment near where I live.
</p>
