---
Title: Now
---

<h2>What am I working on now?</h2>
<p>
I am building agricultural software for a client to measure the efficiency of green roofs as they retain stormwater.  The project is in the measurement and verification stage right now.
</p>

<h2>Outside interests</h2>
<h3>Bridge</h3>
<p>
Been casually practicing bridge for the last 3 or 4 years.  I have a pretty good scaffold for how to play decently, but probably have to unlearn some bad/lazy habits to advance much further.  I started paying for a membership to <a href="https://skybridgeclub.com/">Sky Bridge Club</a> to make me more likely to practice regularly.
</p>

<hr class="flared">

<p class="right"><i>Updated August 16th, 2020</i></p>
